<div id="lang-selector">
  <!-- <div class="lang-box">
    <img src="/assets/img/South_Korea.png" alt="south_korea">
    <label *ngIf="langCode === 'ko'">선택됨</label>
    <button type="button" (click)="setLangCode('ko')" [disabled]="langCode === 'ko'">한국어</button>
  </div>
  <div class="lang-box">
    <img src="/assets/img/United_States.png" alt="usa">
    <label *ngIf="langCode === 'en'">선택됨</label>
    <button type="button" (click)="setLangCode('en')" [disabled]="langCode === 'en'">영어</button>
  </div>
  <div class="lang-box">
    <img src="/assets/img/France.png" alt="france">
    <label *ngIf="langCode === 'fr'">선택됨</label>
    <button type="button" (click)="setLangCode('fr')" [disabled]="langCode === 'fr'">불어</button>
  </div> -->
  <div class="lang-box" *ngFor="let lang of langMetadata">
    <img src="{{'/assets/img/' + lang.flagImgName}}" alt="france">
    <!-- <label *ngIf="langCode === lang.code">선택됨</label> -->
    <!-- <button type="button" (click)="setLangCode(lang.code)" [disabled]="langCode === lang.code">{{lang.name}}</button> -->
    <button type="button" (click)="setLangCode(lang.code)" [disabled]="langCode === lang.code">{{lang | langSelectorBtn}}</button>
  </div>
</div>